<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDo App</title>
  </head>
  <body>
    <div id="content", name="content">
        {%  block content %}
        {% endblock %}
      </div>
  </body>
</html>
