{% extends 'main/base.html' %}
{% block content %}
<form action="/addTask/" method="post" novalidate>
      {% csrf_token %}
     <table>
        {{ form.as_table }}
         <tr>
             <td>&nbsp;</td>
           <td><input type="submit" value="Submit"></td>
         </tr>
    </table>
</form>
<br>
<form action="" method="post">
          {% csrf_token %}
<p>Filter</p>
<label for="priority">Priority: </label>
<select id="priority">
  <option value="non">--</option>
  <option value="low">Low</option>
  <option value="medium">Medium</option>
  <option value="high">High</option>
</select>
<label for="person">Person: </label>
<select id="person">
  <option value="non">--</option>
  <option value="mom">Mom</option>
  <option value="dad">Dad</option>
  <option value="grandpa">Grandpa</option>
</select>
<label for="status">Status: </label>
<select id="status" value="test">
  <option value="non">--</option>
  <option value="not_started">Not Started</option>
  <option value="started">Started</option>
  <option value="finished">Finished</option>
</select>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    var priority = "filter";
    var person = "filter";
    var status = "filter";
  $('#priority').on('change', function() {
   priority = $(this).val();
   console.log(priority);
    document.getElementById('filter_btn').value='?'+priority+'?'+person+'?'+status;
 });
 $('#person').on('change', function() {
  person = $(this).val();
  console.log(person);
    document.getElementById('filter_btn').value='?'+priority+'?'+person+'?'+status;
});
$('#status').on('change', function() {
 status = $(this).val();
 console.log(status);
    document.getElementById('filter_btn').value='?'+priority+'?'+person+'?'+status;
});

 </script>
  <button id="filter_btn"  formaction="/filterTask/" type="submit" class="btn" value="?filter?filter?filter" name="filter" data-value="">Filter</button>
</form>
<br>
<br>
<form action="#" method="post">
        {% csrf_token %}
  {% for post in posts %}
    <p>[ID]{{post.id}}; <b>Description:</b> {{post.description}}; <b>Priority:</b> {{post.priority}}; <b>Person assigned:</b> {{post.person}}; <b>Status:</b> {{post.status}} <br> <button type="submit" formaction="/editTask/" class="btn" value="{{post.id}}" name="edit" data-value="{{post.id}}">Edit</button>  <button type="submit" formaction="/deleteTask/" class="btn" value="{{post.id}}" name="delete" data-value="{{post.id}}">Delete</button></p>
  {% endfor %}
</form>

{% endblock %}
